.RadialTree {
  border: 1px solid black;
  border-radius: 100%;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 100;
  background-color: #f0f0f3;
  cursor: pointer;
  transition: 0.3s;
}

.RadialTree:hover {
  background-color: #b8b8b8;
}

.cell1 {
  border: 1px solid black;
  width: 70px;
  height: 140px;
  z-index: 99;
  background-color: #f0f0f3;
  margin-top: -20px;
  cursor: pointer;
  transition: 0.3s;
}

.cell1:hover {
  background-color: #b8b8b8;
}

.l {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-left: -20px;
  position: absolute;
}

.r {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-left: 50px;
  position: absolute;
}

.cell2 {
  border: 1px solid black;
  width: 90px;
  height: 90px;
  z-index: 98;
  background-color: #f0f0f3;
  cursor: pointer;
  transition: 0.3s;
}

.cell2:hover {
  background-color: #b8b8b8;
}

.tl {
  border-top-left-radius: 100%;
  margin-top: -41px;
  margin-left: -41px;
  position: absolute;
  border-bottom: none;
}

.tr {
  border-top-right-radius: 100%;
  margin-top: -41px;
  margin-left: 50px;
  position: absolute;
  border-bottom: none;
}

.bl {
  border-bottom-left-radius: 100%;
  margin-bottom: -41px;
  margin-left: -41px;
  margin-top: 50px;
  position: absolute;
}

.br {
  border-bottom-right-radius: 100%;
  margin-bottom: -41px;
  margin-left: 50px;
  margin-top: 50px;
  position: absolute;
}

.cell3 {
  border: 1px solid black;
  width: 110px;
  height: 110px;
  z-index: 97;
  background-color: #f0f0f3;
}

.tl3 {
  border-top-left-radius: 100%;
  margin-top: -62px;
  margin-left: -62px;
  border-bottom: none;
  position: absolute;
  .cell3_in {
    background-color: orange;
    width: 55px;
    height: 55px;
    border-top-left-radius: 100px;

    margin-top: 52px;
    transform: rotate(0.85turn);
    border: 1px solid black;
    border-left: none;
    border-top: none;
  }
  .cell3_in:nth-last-child(1) {
    margin-top: -97px;
    margin-left: 32px;
    transform: rotate(0.1turn);
  }
}

.abobo {
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 100px solid #32557f;
  border-radius: 50%;
}

.tr3 {
  border-top-right-radius: 100%;
  margin-top: -62px;
  margin-left: 50px;
  border-bottom: none;
  position: absolute;
}

.bl3 {
  border-bottom-left-radius: 100%;
  margin-bottom: -62px;
  margin-left: -62px;
  margin-top: 50px;
  position: absolute;
}

.br3 {
  border-bottom-right-radius: 100%;
  margin-bottom: -62px;
  margin-left: 50px;
  margin-top: 50px;
  position: absolute;
}
