.conteiner {
    margin-left: 432px;
    display: flex;
    flex-direction: column;
    width: 1420px;

    .conteiner__title {
        font-family: 'Geist';
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #19202A;
        margin-top: 32px;
        
    }

    .conteiner__title--profile {
        font-weight: 700;
        padding-top: 42px;
        margin-top: 0px;
        font-size: 28px;
    }

    .conteiner__line {
        width: 1420px;
        height: 1px;
        background: #D2DBE7;
        margin-top: 32px;
    }

    .conteiner__list {
        display: flex;
        flex-direction: row;
        margin: 32px 0 12px 0;

        .conteiner__item {
            width: 200px;
            height: 40px;
            font-size: 16px;
            color: #19202A;
            font-weight: 500;
            text-align: center;
            cursor: pointer;
            text-decoration: none;
        }

        .conteiner__item--active {
            font-weight: 600;
            border-bottom: 2px solid #19202A;
            // margin-left: -32px;
        }


    }

    .conteiner__info {
        display: flex;
        flex-direction: row;
        margin-top: 32px;

        .conteiner__foto {
            width: 272px;
            height: 272px;
            background-color: #D9D9E0;
            border-radius: 10px;
        }

        .conteiner__data {
            display: flex;
            flex-direction: column;
            margin-left: 32px;

            .data__title {
                font-size: 14px;
                font-weight: 500;
                color: #19202A;
            }

            .data__input {
                width: 256px;
                height: 35px;
                border: 2px solid #D2DBE7;
                border-radius: 4px;
                margin-top: 8px;
                padding-left: 4px;
            }

            .data__input::placeholder {
                padding-left: 4px;
            }

            .data__input--big {
                width: 545px;
            }

            .data__container {
                display: flex;
                flex-direction: row;
                margin-top: 32px;

                .data__container--left {
                    margin-right: 32px;
                }
            }

            .data__container--bottom {
                margin-top: 69px;
            }

            .data__button {
                width: 265px;
                height: 45px;
                border-radius: 10px;
                border: none;
                font-size: 16px;
                cursor: pointer;
            }

            .data__button--left {
                color: #60646C;
                background-color: #EAEAEF;
            }

            .data__button--right {
                color: #FFFFFF;
                background-color: #30A46C;
                margin-left: 16px;
            }
        }
    }
    .conteiner__notes{
        width: 1420px;
        display: flex;
        flex-direction: row;
        .notes__block{
            margin: 32px 32px 0 0;
           
            background-color: #D9D9E0;
            width: 272px;
            height:145px;
            border-radius: 10px;
        }
    }
}