:root {
  font-family: var(--font-geist-sans);
}

*,
::after,
::before {
  font-family: var(--font-geist-sans);
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfcfd;
  height: 100vh;

  overflow: hidden;
}
