.conteiner {
    margin-left: 367px;
    display: flex;
    flex-direction: column;
    max-width: 1489px;

    .conteiner__title {
        font-family: 'Geist';
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #19202A;
        margin-top: 32px;

    }

    .conteiner__title--profile {
        font-weight: 700;
        padding-top: 42px;
        margin-top: 0px;
        font-size: 28px;
    }

    .conteiner__line {
        width: 1489px;
        height: 1px;
        background: #D2DBE7;
        margin-top: 32px;
    }

    .conteiner__list {
        display: flex;
        flex-direction: row;
        margin: 32px 0 12px 0;

        .conteiner__item {
            width: 200px;
            height: 40px;
            font-size: 16px;
            color: #19202A;
            font-weight: 500;
            text-align: center;
            cursor: pointer;
            text-decoration: none;
        }

        .conteiner__item--active {
            font-weight: 600;
            border-bottom: 2px solid #19202A;
            // margin-left: -32px;
        }


    }

    .conteiner__edit {
        display: flex;
        flex-direction: row;

        .edit__buttno {
            width: 168px;
            height: 40px;
            cursor: pointer;
            border-radius: 6px;
            border: none;
            margin-top: 32px;
            margin-left: auto;
            font-size: 16px;
        }

        .edit__buttno--left {
            background-color: #D9D9E0;
            color: #222222;
        }

        .edit__buttno--right {
            margin-left: 16px;
            background-color: #30A46C;
            color: #FFFFFF;
        }
    }
}

.conteiner__gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 32px;
        gap: 32px;
        .gallery__block{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 270px;
            height: 270px;
            background-color: #D9D9E0;
            border-radius: 10px;
            border: 1px solid #0033772B;
           // margin-left: 28px;
            .gallery__foto{
                width: 241px;
                height: 192px;
                background-color: #F0F0F3;
                border-radius: 10px;
                border: 1px solid #0033772B;
            }
            .gallery__text{
                font-size: 14px;
                color: #000000;
                width: 221px;
                margin-top: 16px;
            }
        }
    }